@{
    ViewData["Title"] = "Home Page";
}

<section class="hero" id="about">
    <img src="~/images/icons8-git.svg" alt="jane-doe" loading="lazy" class="hero-img" />
    <div class="bio animate__animated animate__shakeX">
        <h2 class="bio-title">About Me</h2>
        <p class="bio-text">
            I am a Junior at the Univeristy of South Carolina majoring in Computer Science with a minor in Military
            Science.
            I am profiencient in Java, C++, python, and Bash scripting. I am knowledgable in web api design and
            development using
            frameworks such as springboot, .NET core MVC, and flask. Projects include work on my own and as an Intern at
            Palmetto GBA.
        </p>
    </div>
</section>
